In [1]:
import seaborn as sns

In [2]:
tips_raw = sns.load_dataset("tips")

In [3]:
tips_raw.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [5]:
tips_raw["total_bill"].tail()

239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, dtype: float64

In [6]:
tips_raw["tip"].tail()

239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, dtype: float64

In [8]:
tips_raw.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [19]:
column = ["total_bill", "tip", "sex", "smoker", "day", "time", "size"]
df = pd.DataFrame(columns = column)
df["total_bill"] = [16.99]

   total_bill  tip  sex smoker  day time size
0       16.99  NaN  NaN    NaN  NaN  NaN  NaN

In [21]:
column = ["total_bill", "tip", "sex", "smoker", "day", "time", "size"]
total_bill = [16.99]
df2 = pd.DataFrame({"total_bill" : total_bill}, columns = column)
df2

   total_bill  tip  sex smoker  day time size
0       16.99  NaN  NaN    NaN  NaN  NaN  NaN

In [23]:
tips = tips_raw.copy()

In [34]:
tips[:100].groupby(["sex"]).size().reset_index(name = "counts")

      sex  counts
0    Male      74
1  Female      26

In [30]:
tips[:100]

    total_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
2        21.01  3.50    Male     No   Sun  Dinner     3
3        23.68  3.31    Male     No   Sun  Dinner     2
4        24.59  3.61  Female     No   Sun  Dinner     4
5        25.29  4.71    Male     No   Sun  Dinner     4
6         8.77  2.00    Male     No   Sun  Dinner     2
7        26.88  3.12    Male     No   Sun  Dinner     4
8        15.04  1.96    Male     No   Sun  Dinner     2
9        14.78  3.23    Male     No   Sun  Dinner     2
10       10.27  1.71    Male     No   Sun  Dinner     2
11       35.26  5.00  Female     No   Sun  Dinner     4
12       15.42  1.57    Male     No   Sun  Dinner     2
13       18.43  3.00    Male     No   Sun  Dinner     4
14       14.83  3.02  Female     No   Sun  Dinner     2
15       21.58  3.92    Male     No   Sun  Dinner     2
16       10.33  1.67  Female     No   Sun  Dinner     3
17       16.29  3.71    Male     No   Sun  Dinner     3
18       16.97  3.50  Female     No   Sun  Dinner     3
19       20.65  3.35    Male     No   Sat  Dinner     3
20       17.92  4.08    Male     No   Sat  Dinner     2
21       20.29  2.75  Female     No   Sat  Dinner     2
22       15.77  2.23  Female     No   Sat  Dinner     2
23       39.42  7.58    Male     No   Sat  Dinner     4
24       19.82  3.18    Male     No   Sat  Dinner     2
25       17.81  2.34    Male     No   Sat  Dinner     4
26       13.37  2.00    Male     No   Sat  Dinner     2
27       12.69  2.00    Male     No   Sat  Dinner     2
28       21.70  4.30    Male     No   Sat  Dinner     2
29       19.65  3.00  Female     No   Sat  Dinner     2
..         ...   ...     ...    ...   ...     ...   ...
70       12.02  1.97    Male     No   Sat  Dinner     2
71       17.07  3.00  Female     No   Sat  Dinner     3
72       26.86  3.14  Female    Yes   Sat  Dinner     2
73       25.28  5.00  Female    Yes   Sat  Dinner     2
74       14.73  2.20  Female     No   Sat  Dinner     2
75       10.51  1.25    Male     No   Sat  Dinner     2
76       17.92  3.08    Male    Yes   Sat  Dinner     2
77       27.20  4.00    Male     No  Thur   Lunch     4
78       22.76  3.00    Male     No  Thur   Lunch     2
79       17.29  2.71    Male     No  Thur   Lunch     2
80       19.44  3.00    Male    Yes  Thur   Lunch     2
81       16.66  3.40    Male     No  Thur   Lunch     2
82       10.07  1.83  Female     No  Thur   Lunch     1
83       32.68  5.00    Male    Yes  Thur   Lunch     2
84       15.98  2.03    Male     No  Thur   Lunch     2
85       34.83  5.17  Female     No  Thur   Lunch     4
86       13.03  2.00    Male     No  Thur   Lunch     2
87       18.28  4.00    Male     No  Thur   Lunch     2
88       24.71  5.85    Male     No  Thur   Lunch     2
89       21.16  3.00    Male     No  Thur   Lunch     2
90       28.97  3.00    Male    Yes   Fri  Dinner     2
91       22.49  3.50    Male     No   Fri  Dinner     2
92        5.75  1.00  Female    Yes   Fri  Dinner     2
93       16.32  4.30  Female    Yes   Fri  Dinner     2
94       22.75  3.25  Female     No   Fri  Dinner     2
95       40.17  4.73    Male    Yes   Fri  Dinner     4
96       27.28  4.00    Male    Yes   Fri  Dinner     2
97       12.03  1.50    Male    Yes   Fri  Dinner     2
98       21.01  3.00    Male    Yes   Fri  Dinner     2
99       12.46  1.50    Male     No   Fri  Dinner     2

[100 rows x 7 columns]

In [36]:
female = tips["sex"] == "Female"
tips[female].reset_index()

    index  total_bill   tip     sex smoker   day    time  size
0       0       16.99  1.01  Female     No   Sun  Dinner     2
1       4       24.59  3.61  Female     No   Sun  Dinner     4
2      11       35.26  5.00  Female     No   Sun  Dinner     4
3      14       14.83  3.02  Female     No   Sun  Dinner     2
4      16       10.33  1.67  Female     No   Sun  Dinner     3
5      18       16.97  3.50  Female     No   Sun  Dinner     3
6      21       20.29  2.75  Female     No   Sat  Dinner     2
7      22       15.77  2.23  Female     No   Sat  Dinner     2
8      29       19.65  3.00  Female     No   Sat  Dinner     2
9      32       15.06  3.00  Female     No   Sat  Dinner     2
10     33       20.69  2.45  Female     No   Sat  Dinner     4
11     37       16.93  3.07  Female     No   Sat  Dinner     3
12     51       10.29  2.60  Female     No   Sun  Dinner     2
13     52       34.81  5.20  Female     No   Sun  Dinner     4
14     57       26.41  1.50  Female     No   Sat  Dinner     2
15     66       16.45  2.47  Female     No   Sat  Dinner     2
16     67        3.07  1.00  Female    Yes   Sat  Dinner     1
17     71       17.07  3.00  Female     No   Sat  Dinner     3
18     72       26.86  3.14  Female    Yes   Sat  Dinner     2
19     73       25.28  5.00  Female    Yes   Sat  Dinner     2
20     74       14.73  2.20  Female     No   Sat  Dinner     2
21     82       10.07  1.83  Female     No  Thur   Lunch     1
22     85       34.83  5.17  Female     No  Thur   Lunch     4
23     92        5.75  1.00  Female    Yes   Fri  Dinner     2
24     93       16.32  4.30  Female    Yes   Fri  Dinner     2
25     94       22.75  3.25  Female     No   Fri  Dinner     2
26    100       11.35  2.50  Female    Yes   Fri  Dinner     2
27    101       15.38  3.00  Female    Yes   Fri  Dinner     2
28    102       44.30  2.50  Female    Yes   Sat  Dinner     3
29    103       22.42  3.48  Female    Yes   Sat  Dinner     2
..    ...         ...   ...     ...    ...   ...     ...   ...
57    155       29.85  5.14  Female     No   Sun  Dinner     5
58    157       25.00  3.75  Female     No   Sun  Dinner     4
59    158       13.39  2.61  Female     No   Sun  Dinner     2
60    162       16.21  2.00  Female     No   Sun  Dinner     3
61    164       17.51  3.00  Female    Yes   Sun  Dinner     2
62    168       10.59  1.61  Female    Yes   Sat  Dinner     2
63    169       10.63  2.00  Female    Yes   Sat  Dinner     2
64    178        9.60  4.00  Female    Yes   Sun  Dinner     2
65    186       20.90  3.50  Female    Yes   Sun  Dinner     3
66    188       18.15  3.50  Female    Yes   Sun  Dinner     3
67    191       19.81  4.19  Female    Yes  Thur   Lunch     2
68    197       43.11  5.00  Female    Yes  Thur   Lunch     4
69    198       13.00  2.00  Female    Yes  Thur   Lunch     2
70    201       12.74  2.01  Female    Yes  Thur   Lunch     2
71    202       13.00  2.00  Female    Yes  Thur   Lunch     2
72    203       16.40  2.50  Female    Yes  Thur   Lunch     2
73    205       16.47  3.23  Female    Yes  Thur   Lunch     3
74    209       12.76  2.23  Female    Yes   Sat  Dinner     2
75    213       13.27  2.50  Female    Yes   Sat  Dinner     2
76    214       28.17  6.50  Female    Yes   Sat  Dinner     3
77    215       12.90  1.10  Female    Yes   Sat  Dinner     2
78    219       30.14  3.09  Female    Yes   Sat  Dinner     4
79    221       13.42  3.48  Female    Yes   Fri   Lunch     2
80    223       15.98  3.00  Female     No   Fri   Lunch     3
81    225       16.27  2.50  Female    Yes   Fri   Lunch     2
82    226       10.09  2.00  Female    Yes   Fri   Lunch     2
83    229       22.12  2.88  Female    Yes   Sat  Dinner     2
84    238       35.83  4.67  Female     No   Sat  Dinner     3
85    240       27.18  2.00  Female    Yes   Sat  Dinner     2
86    243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 8 columns]